* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Nunito", sans-serif;
}

header {
  margin: 0 auto;
  max-width: 1070px;
  height: 100%;
  border-bottom: 1px solid #f3f3f3;
}

#top {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 13% auto auto;
      grid-template-columns: 13% auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top img {
  width: 100%;
}

#top ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#top ul li {
  padding-right: 30px;
}

#top ul a {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

#top ul a:hover {
  border-bottom: 1px solid #A76C41;
  color: #A76C41;
}

#top .phone {
  display: -ms-grid;
  display: grid;
}

#top .phone .link_phone {
  font-weight: bold;
  color: #000;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px none #000;
}

#top .phone .link_phone:hover {
  border-bottom: 1px none #A76C41;
  color: #A76C41;
}

#top .phone .link_mail {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px none #000;
}

#top .phone .link_mail:hover {
  border-bottom: 1px none #A76C41;
  color: #A76C41;
}

#top .phone .img_menu_burger {
  display: none;
}

#mobile_burger {
  display: none;
}

#top_mobile {
  display: none;
}

#block_fon {
  margin: 30px auto;
  max-width: 1070px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 33% 65%;
      grid-template-columns: 33% 65%;
  height: 430px;
}

#block_fon .text_fon h1 {
  text-transform: uppercase;
  padding-bottom: 10px;
}

#block_fon .text_fon p {
  font-style: italic;
  padding-bottom: 10px;
}

#block_fon .fonOff {
  margin: 0;
  padding: 0;
  width: 695.5px;
  height: 430px;
  background-image: url(../img/foopacity2.jpg);
  background-repeat: no-repeat;
  opacity: 0;
  background-position: center;
}

#block_fon .img_fon {
  background-image: url(../img/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

#block_fon .toggle {
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 14% 50% 26%;
      grid-template-columns: 14% 50% 26%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#block_fon .toggle img {
  width: 100%;
  cursor: pointer;
}

#block_fon .toggle img:hover {
  opacity: .7;
}

#block_fon .toggle p {
  font-style: normal;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

#block_fon .toggle .arrow {
  background-image: url(../img/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 45px;
  width: 45px;
}

#block_fon #button {
  display: none;
  margin: 20px auto;
}

#block_fon #button a {
  color: #6dafff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #6dafff;
  padding: 8px;
}

#whatSmartGlass {
  width: 100%;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #EECFBA, #6dafff);
  height: 400px;
}

#whatSmartGlass .wrapWhat {
  margin: 0 auto;
  max-width: 1070px;
  height: 400px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#whatSmartGlass .wrapWhat h2 {
  text-transform: uppercase;
  padding-bottom: 15px;
}

#whatSmartGlass .wrapWhat h2 span {
  border-bottom: 1px solid #000;
}

#whatSmartGlass .wrapWhat img {
  width: 80%;
}

#whatSmartGlass .wrapWhat p {
  padding-bottom: 7px;
}

#materials {
  margin: 0 auto;
  max-width: 1070px;
  height: 100%;
}

#materials h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.5em;
}

#materials h3 span {
  border-bottom: 1px solid #000;
}

#materials .cart_material {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 49% 49%;
      grid-template-columns: 49% 49%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 420px;
}

#materials .cart_material .cart {
  background: #c9dbe3;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 51% 48.5%;
      grid-template-columns: 51% 48.5%;
}

#materials .cart_material .cart h5 {
  text-transform: uppercase;
  padding: 15px;
  font-size: 15px;
  font-weight: 700;
}

#materials .cart_material .cart .text:Hover {
  background: linear-gradient(45deg, #EECFBA, #6dafff);
}

#materials .cart_material .cart .text p {
  padding-left: 15px;
  font-size: 13px;
  padding-right: 10px;
}

#materials .cart_material .cart a {
  width: 100%;
  height: 100%;
  display: block;
  color: #000;
  text-decoration: none;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
}

#materials .cart_material .cart a:hover {
  color: #fff;
}

#apply {
  margin: 0 auto;
  max-width: 1070px;
  height: 100%;
}

#apply h3 {
  margin-top: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 1.5em;
}

#apply h3 span {
  border-bottom: 1px solid #000;
}

.wrap_apply {
  margin: 0 auto;
  max-width: 1070px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 24% 24% 24% 24%;
      grid-template-columns: 24% 24% 24% 24%;
}

.wrap_apply .item_card {
  position: relative;
  text-align: center;
  height: auto;
  margin-bottom: 10px;
  background: #c9dbe3;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.wrap_apply .item_card img {
  width: 100%;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.wrap_apply .item_card h5 {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 16px;
  height: 50px;
}

.wrap_apply .item_card:hover img {
  opacity: 0.4;
}

.wrap_apply .item_card:hover .buttonItem {
  opacity: 1;
}

.wrap_apply .item_card:hover h5 {
  opacity: 0.4;
}

.wrap_apply .item_card a {
  text-decoration: none;
  color: #000;
}

.buttonItem {
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.buttonItem span {
  background: #6dafff;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

#benefit {
  width: 100%;
  padding-bottom: 30px;
  height: 100%;
  background: linear-gradient(45deg, #EECFBA, #6dafff);
}

.wrap_center {
  margin: 30px auto;
  max-width: 1070px;
  height: 100%;
}

.wrap_center h3 {
  padding-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.5em;
}

.wrap_center h3 span {
  border-bottom: 1px solid #000;
}

.wrap_benefit {
  padding-top: 30px;
  margin: 0 auto;
  max-width: 1070px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 24% 24% 24% 24%;
      grid-template-columns: 24% 24% 24% 24%;
}

.wrap_benefit .benefit_cart {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 30% 69%;
      grid-template-columns: 30% 69%;
}

.wrap_benefit .benefit_cart .number {
  font-size: 100px;
  font-weight: bold;
  color: #fff;
  opacity: .5;
  font-family: "Montserrat", sans-serif;
}

.wrap_benefit .benefit_cart .text h5 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
  font-weight: bold;
}

.wrap_benefit .benefit_cart .text p {
  font-size: 14px;
}

#partner {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 16% 16% 16% 16% 16% 16%;
      grid-template-columns: 16% 16% 16% 16% 16% 16%;
  margin: 0 auto;
  max-width: 1070px;
  height: 100%;
  height: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
}

#partner .img_prt img {
  width: 90%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

#partner .img_prt img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  width: 100%;
}

footer {
  width: 100%;
  padding-bottom: 30px;
  background: #6dafff;
}

.menu_footer {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 1070px;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: auto auto auto 13%;
      grid-template-columns: auto auto auto 13%;
}

.menu_footer ul {
  padding-top: 15px;
  list-style: none;
}

.menu_footer ul a {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.menu_footer ul a:hover {
  border-bottom: 1px solid #000;
  color: #000;
}

.menu_footer .footer_phone {
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.menu_footer .footer_phone img {
  width: 90%;
}

.menu_footer .footer_phone .link_phone {
  font-weight: bold;
  color: #000;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px none #000;
}

.menu_footer .footer_phone .link_phone:hover {
  border-bottom: 1px none #fff;
  color: #fff;
}

.menu_footer .footer_phone .link_mail {
  color: #000;
  font-size: 12px;
  text-decoration: none;
  border-bottom: 1px none #000;
}

.menu_footer .footer_phone .link_mail:hover {
  border-bottom: 1px none #fff;
  color: #fff;
}

.menu_footer .footer_phone .ya-share2__link {
  border-bottom: none;
}

@media (max-width: 414px) {
  .menu_footer, #block_fon, #whatSmartGlass .wrapWhat {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-grid-columns: 92%;
        grid-template-columns: 92%;
  }
  #top {
    display: none;
  }
  #top_mobile {
    padding-top: 10px;
    background-color: #eee;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 30% auto 8%;
        grid-template-columns: 30% auto 8%;
  }
  #top_mobile .logo_mobile img {
    width: 100%;
  }
  #top_mobile .link_phone {
    font-weight: bold;
    color: #000;
    font-size: 17px;
    text-decoration: none;
    border-bottom: 1px none #000;
  }
  #top_mobile .link_phone:hover {
    border-bottom: 1px none #6dafff;
    color: #6dafff;
  }
  #top_mobile .link_phone span {
    color: #6dafff;
  }
  #top_mobile .burgerImg {
    position: relative;
  }
  #top_mobile .burgerImg img {
    width: 100%;
  }
  #mobile_burger {
    background: #A76C41;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    display: none;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-grid-columns: 92%;
        grid-template-columns: 92%;
    overflow: scroll;
    padding-bottom: 10px;
  }
  #mobile_burger .close_burger img {
    width: 8%;
    float: right;
    padding-top: 10px;
  }
  #mobile_burger a {
    color: #eee;
    font-size: 13px;
    text-decoration: none;
    border-bottom: 1px solid #eee;
  }
  #mobile_burger a:hover {
    border-bottom: 1px solid #000;
    color: #000;
  }
  #mobile_burger ul {
    margin-top: 10px;
    list-style: none;
  }
  #mobile_burger ul li {
    padding-bottom: 4px;
  }
  #logo_burger {
    position: relative;
  }
  #logo_burger a {
    color: #eee;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #logo_burger a:hover {
    border-bottom: 1px solid #000;
    color: #000;
  }
  .show_burger {
    display: none;
  }
  .menu_footer {
    padding-bottom: 10px;
  }
  .menu_footer .footer_phone {
    text-align: center;
  }
  .menu_footer .footer_phone .link_phone {
    font-size: 18px;
  }
  .menu_footer .footer_phone .link_mail {
    font-size: 16px;
  }
  .menu_footer .footer_phone img {
    width: 70%;
    margin: 0 auto;
  }
  #block_fon {
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url(../img/fonMob2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: top;
    color: #fff;
  }
  #block_fon .text_fon {
    margin-top: 20px;
  }
  #block_fon .text_fon #button {
    display: block;
  }
  #block_fon .img_fon {
    display: none;
  }
  #block_fon .toggle {
    display: none;
  }
  #whatSmartGlass {
    background: #fff;
    height: 100%;
  }
  #whatSmartGlass .wrapWhat {
    height: 100%;
    margin-top: 10px;
  }
  #whatSmartGlass .wrapWhat img {
    display: block;
    margin: 20px auto 20px;
  }
  #materials {
    width: 92%;
  }
  #materials .cart_material .cart {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    justify-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  #materials .cart_material .cart img {
    width: 100%;
  }
  #materials .cart_material {
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  #apply {
    width: 92%;
    margin: 0 auto;
  }
  #apply .wrap_apply {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  #benefit {
    width: 100%;
    padding-bottom: 5px;
  }
  .wrap_center {
    width: 92%;
  }
  .wrap_benefit {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .benefit_cart {
    padding-bottom: 15px;
  }
}
/*# sourceMappingURL=style.css.map */